@media screen and (min-width:800px){

    body{
        background-color:  #94D2BD;
    }
    header{
        background: #E9D8A6;
        border: 1px solid #EE9B00;
        width: 90%;
        max-width: 1300px;
        min-width: 100px;
        margin: 5px auto 0;
        display: flex;
        justify-content: center;
    }
    #container {
        width: 90%;
        max-width: 1300px;
        min-width: 600px;
        margin: 5px auto 0;
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    #navBar{
        background: #E9D8A6;
        border: 1px solid #EE9B00;     /*5f9ea0*/
        min-width: 200px;
        min-height:500px ;
        padding-left: 5px;
        padding-right: 5px;
        display: flex;
        flex-direction: column; 
    }
    #corp{
        background: #E9D8A6;
        border: 1px solid #EE9B00;     /*5f9ea0*/
        min-width: 130px;
        min-height:500px ;
        padding-left: 10px;
        display: flex;
        flex-direction: column; 
    }
    #accueil{
        background: #E9D8A6;
    }
    #navBar2{   
        width: 10%;
        min-width: 200px;
        min-height:500px ;
        display: flex;
        flex-direction: column; 
        
        }
    #navBar h2 {
        font-size: 30px;
        color: #AE2012;

    }
    .button {
        margin: 10px 0px;
        align-self: flex-start;
    }

    .button2 {
        width: 60px;
        margin: 10px 0px;
        align-self: flex-start;
    }
    .gridButton2 {
    
        min-width: 100px;
        font-size: 20px;
        color: white;
        background-color: #b8a56d; 
        color: #AE2012;  
        border-radius: 10px 10px 10px 10px;
        cursor: pointer;
        position: relative;
        padding: 5px;
        text-decoration: none;
    }
  
    .gridButton2:hover
    {
        background-color: #6e7e76;
        color: #FFE18A;
    }
    #corp{
        background: #E9D8A6;
        border: 1px solid #EE9B00;   /*#fcfaa3*/
        width: 90%;
        min-width: 500px;
        min-height: 500px;
        padding: 20px 20px;
        padding-left: 10px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    #identy{
        background: #E9D8A6;   
        width: 90%;
        min-width: 500px;
        min-height: 500px;
        padding: 20px 20px;
        padding-left: 10px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    #formation{
        background: #E9D8A6;
        width: 90%;
        min-width: 500px;
        min-height: 500px;
        padding: 20px 20px;
        padding-left: 10px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    #experience{
        background: #E9D8A6;
        width: 90%;
        min-width: 500px;
        min-height: 500px;
        padding: 20px 20px;
        padding-left: 10px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    #divers{
        background: #E9D8A6;
        width: 90%;
        min-width: 500px;
        min-height: 500px;
        padding: 20px 20px;
        padding-left: 10px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    #langue{
        background: #E9D8A6;
        width: 90%;
        min-width: 500px;
        min-height: 500px;
        padding: 20px 20px;
        padding-left: 10px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    #information{
        background: #E9D8A6;
        width: 90%;
        min-width: 500px;
        min-height: 500px;
        padding: 20px 20px;
        padding-left: 10px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    footer{
        background: #E9D8A6;
        border: 1px solid #EE9B00;
        width: 90%;
        max-width: 1300px;
        min-width: 100px;
        margin: 5px auto;
        display: flex;

    }
    h3 {
        color: #AE2012;
    }
    h2 {
        font-size: 30px;
        color: #AE2012
    }
    h1 {
        font-size: 50px;
        color: #AE2012
    }
    .menu
    {
      display: flex;              
      padding:0;                      
      /* justify-content: center; */
      
      
    }
    .menu a 
    {
        display:block;                
        width: 90%;
        min-width: 140px;
        border-radius: 3px;
        margin: 0.2em;
        margin-right: 3.5em;
        margin-left: 1em;
        padding:0.6em 0.5em;
        text-align: center; 
        background-color: #b8a56d; 
        color: #AE2012; 
    }

    .menu h2 
    {
        margin-left: 50px;
    }
      
           
    }
    .menu a:hover
    {
        background-color: #4B5A53;
        color: #FFE18A;
        
    }
    .déroul
    {
      position: relative;
      margin-left: 5px;
      list-style-type: none;
    }
    .sousmenu
    {
        list-style-type: none;
        position: absolute;
        right: 0;
        width: 100%;
        color:white;
        max-height: 0px;
        text-align: center;
    }
    #menu_cache1
    {
      display: none;
    }
    #menu_cache2
    {
      color: rgba(0, 0, 0, 0);
      margin-top: 30em;
    }
    p 
    {
        color: #AE2012; 
        margin-left: 5px;
    }


@media screen and (min-width:340px) and (max-width:799px) {

    body{
        background-color:  #94D2BD;
    }
    header{
        background: #E9D8A6;
        border: 1px solid #EE9B00;
        width: 90%;
        margin: 5px auto 0;
        display: flex;
        justify-content: center;
    }
    #container {
        width: 90%;
        max-width: 1300px;
        min-width: 400px;
        margin: 5px auto 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    #navBar{
        background: #E9D8A6;
        border: 1px solid #EE9B00;    /*5f9ea0*/
        min-height:50px ;
        padding-left: 5px;
        display: flex;
        flex-direction: column; 
    }
    #navBar2{   
        width:90%;
        min-height:50px ;
        display: flex;
        flex-direction: row; 
    }
    #navBar h2 {
        text-align: center;
        font-size: 20px;
        color: #AE2012; 
    }
    .button {
        margin: 10px 5px;
        align-self: flex-start;
    }
    .gridButton {
    
        min-width: 100px;
        font-size: 20px;
        color: white;
        background-color: #b8a56d; 
        color: #AE2012;  
        border-radius: 10px 10px 10px 10px;
        cursor: pointer;
        position: relative;
        padding: 5px;
        text-decoration: none;
    }
    .button2 {
        width: 60px;
        margin: 10px 0px;
        align-self: flex-start;
    }
    .gridButton2 {
    
        min-width: 100px;
        font-size: 20px;
        color: white;
        background-color: #b8a56d; 
        color: #AE2012;  
        border-radius: 10px 10px 10px 10px;
        cursor: pointer;
        position: relative;
        padding: 5px;
        text-decoration: none;
    }
    #corp{
        background: #E9D8A6;
        border: 1px solid #EE9B00;   /*#fcfaa3*/
        width: 100%;
        min-width: 300px;
        min-height: 300px;
        padding: 20px 0px;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    #identy{
        background: #E9D8A6;   /*#fcfaa3*/
        width: 100%;
        min-width: 300px;
        min-height: 300px;
        padding: 20px 0px;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    #formation{
        background: #E9D8A6;   /*#fcfaa3*/
        width: 100%;
        min-width: 300px;
        min-height: 300px;
        padding: 20px 0px;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    #experience{
        background: #E9D8A6;  /*#fcfaa3*/
        width: 100%;
        min-width: 300px;
        min-height: 300px;
        padding: 20px 0px;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    #divers{
        background: #E9D8A6;   /*#fcfaa3*/
        width: 100%;
        min-width: 300px;
        min-height: 300px;
        padding: 20px 0px;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    #langue{
        background: #E9D8A6;   /*#fcfaa3*/
        width: 100%;
        min-width: 300px;
        min-height: 300px;
        padding: 20px 0px;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    #information{
        background: #E9D8A6;   /*#fcfaa3*/
        width: 100%;
        min-width: 300px;
        min-height: 300px;
        padding: 20px 0px;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    footer{
        background: #E9D8A6;
        border: 1px solid #EE9B00;
        width: 90%;
        max-width: 1300px;
        min-width: 100px;
        margin: 5px auto;
        display: flex;

    }
    h3 {
        color: #AE2012; 
    }
    h2 {
        font-size: 30px;
        color: #AE2012; 
    }
    h1 {
        font-size: 50px;
        color: #AE2012; 
    }
    p 
    {
        color: #AE2012; 
        margin-left: 5px;
    }
    .menu
    {
      display: flex;              
      padding:0;                      
      /* justify-content: center; */
      
      
    }
    .menu a 
    {
        display:block;                
        width: 90%;
        min-width: 140px;
        border-radius: 3px;
        margin: 0.2em;
        margin-right: 3.5em;
        margin-left: 1em;
        padding:0.6em 0.5em;
        text-align: center; 
        background-color: #b8a56d; 
        color: #AE2012; 
    }
    .déroul
    {
      position: relative;
      margin-left: 5px;
      list-style-type: none;
    }
    .sousmenu
    {
    list-style-type: none;
    position: absolute;
    right: 0;
    width: 100%;
    color:white;
    max-height: 0px;
    text-align: center;
    transition: max-height 0.2s ease;
    overflow: hidden;
    }
    .déroul:hover> .sousmenu
    {
        max-height:450px;
    }

    ul {
        list-style: none;
        text-align: center;
    }
    li {
        text-align: center;
    }
}
